{% extends "base.html" %}

{%block content%}

<h2>Título: {{ topic }}</h2>
    <p>Para <b>EDITAR</b> o Tópico "{{topic}}" <a href="{% url 'topic_view_update' topic.pk%}">clique aqui !</a></p>
    <p>Para </b>DELETAR<b> o Tópico "{{topic}}" <a href="{% url 'topic_view_delete' topic.pk %}">clique aqui !</a></p>
    <p>Para </b>Adicionar<b> mais itens ao Tópico "{{topic}}" <a href="{% url 'entry_view_create' topic.pk%}">clique aqui !</a></p>

<p>Entradas: </p>
<ul> 
    <div>
        {%for entry in entries%} 
        <p>{{entry.text}} - adicionado em: {{entry.date_add}} - <a href="{% url 'entry_view_update' entry.pk %}">Editar</a> - <a href ="{% url 'entry_view_delete' entry.pk %}"> Excluir</a></p>
    
    </div>
    
    {%endfor%}
</ul>

{%endblock%}